<h4 class="header2">Contact US</h4>
<div class="row">
    <form class="col s6 z-depth-4 card-panel" method="post" action="/register">
        <div class="row">
            <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="first_name" name="first_name" class="validate" type="text">
                <label for="first_name1">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="last_name" name="last_name" class="validate" type="text">
                <label for="last_name1">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input id="email" name="email" class="validate" type="email">
                <label for="email4">Email</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="mobile" name="mobile" class="validate" type="text">
                <label for="mobile1">Mobile</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                
                <label for="msg">Message</label>
                <textarea id="msg" class="materialize-textarea"></textarea>
            </div>
        </div>


        <div class="row">
                <div class="input-field col s12">
                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>

    </form>
</div>
