<div class="row">

<div class="col s6 m6" >
    <table>
        <tr>
            <th>Ether Balance</th>
        </tr>
        <tr>
            <td>
                <img src="/images/ethmin.png" class="rectangle responsive-img"></td>
            <tr>
        <td>{{userdata.EthbalAvailable}}</td>
        </tr>
    </table>
</div>


    <div class="col s6 m6">
    <table>
        <tr>
            <th>Inr Balance</th>
        </tr>
        <tr>
            <td>
                <img src="/images/bank.png" class="rectangle responsive-img"></td>
        <tr>
            <td>{{userdata.bankbalance}}</td>
        </tr>
    </table>
</div>

    </div>